name: SonarQube Analysis

on:
  push:
    branches:
      - main

jobs:
  sonar:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-java@v3
        with:
          java-version: 17

      - name: Install SonarScanner
        run: |
          sudo apt-get update
          sudo apt-get install -y sonar-scanner

      - name: Run SonarScanner
        run: |
          sonar-scanner \
            -Dsonar.projectKey=Git \
            -Dsonar.sources=. \
            -Dsonar.host.url=${{ secrets.SONAR_HOST_URL }} \
            -Dsonar.login=${{ secrets.SONAR_TOKEN }}
